<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Etudiants</title>
  <style>
    .form-label{
      color: #00a6ff;
      font-family: Bahnschrift;
      font-weight: bolder;
      font-size: large
    }
    .form-check-label{
      color: #00a6ff;
      font-family: Bahnschrift;
      font-weight: bolder;
      font-size: large
    }
  </style>
</head>
<body>
  <div layout:fragment="content" class="container justify-content-center">
    <div class="p-3">
      <form method="post" th:action="@{saveEtudiant}">
        <div class="mb-3 mt-3">
          <label for="nom" class="form-label">Nom:</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
          <span class="text-danger" th:errors="${etudiant.nom}" th:value="${etudiant.nom}"></span>
        </div>
        <div class="mb-3 mt-3">
          <label for="prenom" class="form-label">Prénom:</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenom">
          <span class="text-danger" th:errors="${etudiant.prenom}" th:value="${etudiant.prenom}"></span>
        </div>
        <div class="mb-3">
          <label for="dateNaissance" class="form-label">Date Naissance:</label>
          <input type="date" class="form-control" id="dateNaissance" placeholder="Date Naissance"
                 name="dateNaissance" th:value="${etudiant.dateNaissance}">
          <span class="text-danger" th:errors="${etudiant.dateNaissance}" th:value="${etudiant.dateNaissance}"></span>
        </div>
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="email"
                 name="email" th:value="${etudiant.email}">
          <span class="text-danger" th:errors="${etudiant.email}" th:value="${etudiant.email}"></span>
        </div>
        <div class="form-group">
          <div th:each="model : ${T(ma.enset.etudiants.entities.Genre).values()}" style="display: inline-block;margin-right: 20px;">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" th:field="*{etudiant.genre}" th:value="${model}" class="custom-control-input">
              <label class="custom-control-label" th:for="${#ids.prev('genre')}" th:text="${model}">model</label>
              <span class="text-danger" th:errors="${etudiant.genre}"></span>
            </div>
          </div>
        </div>
        <div class="form-check form-switch mt-3 mb-2">
          <input class="form-check-input" type="checkbox" id="mySwitch" name="enregle" th:value="${etudiant.enRegle}" th:checked="${etudiant.enRegle}">
          <label class="form-check-label" for="mySwitch">En règle</label>
          <span class="text-danger" th:errors="${etudiant.enRegle}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</body>
</html>